@import (reference) "@/less/general.less";

.my-select {
    @horizontal-padding: .8rem;
    @vertical-padding: .4rem;
    @self__padding-bottom: .25rem;
    @select__selected__height: 1.2rem;
    @select__width: 7rem;
    @opacity: .4;

    .flex-column__center();

    position: relative;
    align-items: flex-end;
    width: @select__width;
    padding-right: .5rem;

    &__container {
        .flex-row__center();

        justify-content: space-between;
        height: @select__selected__height;
        padding: @self__padding-bottom;
        border-radius: 2rem;
        background: @gray-color__base;
        box-shadow:
            -2px 2px 3px @shadow__dark,
            2px -2px 3px @shadow__light;

        &>div:nth-child(1) {
            .text__word-ellipsis();
            width: 100%;
            line-height: 1.2rem;
        }

        &>div:nth-child(2) {
            position: relative;
            top: calc(@vertical-padding / 2);
            left: calc(@horizontal-padding / 2);
            transform-origin: center calc(25% * 2 / 3);
            transition: transform .2s;

            .my-select--expanded & {
                transform: rotateX(180deg);
            }
        }
    }

    &__modal {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        visibility: hidden;
        z-index: 3000;
    }

    &__list {
        .flex-column__center();

        position: relative;
        align-items: flex-end;
        position: absolute;

        &>.my-select__item {
            border-radius: 0px;
            background-color: rgba(white, @opacity);
            backdrop-filter: blur(2px);
            box-shadow: 0px 0px 2px rgba(0, 0, 0, .2);

            .flex-column__start();
            .text__break-word();
        }
    }

    &__list>&__item,
    &__container {
        .font__base();

        width: @select__width;
        height: 2rem;
        padding: 0 @horizontal-padding;
        box-sizing: border-box;
        cursor: pointer;
    }

    &__list>&__item:hover,
    &__item--selected {
        background-color: rgba(@blue-color__base, @opacity) !important;
    }
}