@import (reference) "./general.less";

body {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: @gray-color__base;
  overflow: hidden;

  .flex-column__center();
  .font__base();
}

#root {
  width: 100%;
  height: 100%;
}