@import (reference) "./general.less";

body {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: @gray-color;
  overflow: hidden;

  .flex-column-center();
  .font-general();
}

#root {
  width: 100%;
  height: 100%;
}