#account-edit-page .past-passwords-list {
  position: relative;
}
#account-edit-page .past-passwords-list .past-password-add-button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 5%;
}
#account-edit-page .past-passwords-list .past-password-add-button .plus-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 2rem;
  margin: 3px 0;
  background-color: #d3e1f8;
  box-shadow: -2px 2px 3px #bcc8dd, 2px -2px 3px #eafaff;
  transition: background-color 0.1s, color 0.1s;
  opacity: 0.7;
}
#account-edit-page .past-passwords-list .past-password-add-button .plus-icon > div {
  transition: background-color 0.1s, color 0.1s;
  background-color: #6e7891;
}
#account-edit-page .past-passwords-list .past-password-add-button .plus-icon:hover > div {
  background-color: #6d8dff;
}
#account-edit-page .past-passwords-list .past-password-add-button .plus-icon:active {
  background-color: #6d8dff;
}
#account-edit-page .past-passwords-list .past-password-add-button .plus-icon:active > div {
  background-color: white;
}
#account-edit-page .past-passwords-list .account-field {
  position: relative;
  justify-content: flex-end;
  left: -0.5rem;
}
#account-edit-page .past-passwords-list .account-field .account-field-key {
  width: 15%;
}
#account-edit-page .past-passwords-list .account-field .account-secret-edit-field-wrap {
  width: 50%;
}
#account-edit-page .past-passwords-list .account-field .password-delete-button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 16%;
  height: 100%;
  padding: 0rem 0.25rem;
  margin-left: 8px;
  border-radius: 2rem;
  background-color: #d3e1f8;
  box-shadow: -2px 2px 3px #bcc8dd, 2px -2px 3px #eafaff;
  transition: background-color 0.1s, color 0.1s;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  text-align: center;
}
#account-edit-page .past-passwords-list .account-field .password-delete-button:hover {
  color: rgba(255, 0, 0, 0.6);
}
#account-edit-page .past-passwords-list .account-field .password-delete-button:active {
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
}
@media screen and (max-width:640px) {
  #account-edit-page .past-passwords-list .account-field .password-delete-button {
    width: 15%;
  }
}
#account-edit-cancel-button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 3rem;
  max-width: 45%;
  height: 1.5rem;
  padding: 2px 0.75rem;
  line-height: 1.5rem;
  margin-right: 0.5rem;
  border-radius: 2rem;
  background-color: #d3e1f8;
  box-shadow: -2px 2px 3px #bcc8dd, 2px -2px 3px #eafaff;
  transition: background-color 0.1s, color 0.1s;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  text-align: center;
}
#account-edit-cancel-button:hover {
  color: #6d8dff;
}
#account-edit-cancel-button:active {
  background-color: #6d8dff;
  color: white;
}
@media screen and (max-width:640px) {
  #account-edit-cancel-button {
    font-size: 12px;
    padding: 0.2rem 0.5rem;
  }
}
#account-edit-confirm-button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 3rem;
  max-width: 45%;
  height: 1.5rem;
  padding: 2px 0.75rem;
  line-height: 1.5rem;
  border-radius: 2rem;
  background-color: #d3e1f8;
  box-shadow: -2px 2px 3px #bcc8dd, 2px -2px 3px #eafaff;
  transition: background-color 0.1s, color 0.1s;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  text-align: center;
}
#account-edit-confirm-button:hover {
  color: #02b689;
}
#account-edit-confirm-button:active {
  background-color: #02b689;
  color: white;
}
@media screen and (max-width:640px) {
  #account-edit-confirm-button {
    font-size: 12px;
    padding: 0.2rem 0.5rem;
  }
}
