#language-bar {
  grid-area: language_bar;
  display: flex;
  position: relative;
  justify-content: flex-end;
  width: 100%;
  min-height: 2rem;
  padding: 4px 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#language-bar .custom-select {
  right: 5vw;
}
@media screen and (max-width:640px) {
  #language-bar .custom-select {
    right: 3vw;
  }
}
#language-bar #show-navigator-bar-button {
  display: none;
  position: absolute;
  z-index: 80;
  left: 3vw;
  box-shadow: -2px 2px 3px #bcc8dd, 2px -2px 3px #eafaff;
  border-radius: 4px;
}
@media screen and (max-width:640px) {
  #language-bar #show-navigator-bar-button {
    display: block;
  }
}
#language-bar #show-navigator-bar-button .list_icon {
  padding: 4px;
  background-color: #d3e1f8;
  border-radius: 4px;
}
#language-bar #show-navigator-bar-button .list_icon > div {
  transition: background-color 0.1s, color 0.1s;
  background-color: #6e7891;
}
#language-bar #show-navigator-bar-button:hover .list_icon {
  background-color: rgba(109, 141, 255, 0.75);
}
#language-bar #show-navigator-bar-button:hover .list_icon div {
  background-color: white;
}
#language-bar #show-navigator-bar-button:active .list_icon {
  background-color: #6d8dff;
}
#language-bar #show-navigator-bar-button:active .list_icon div {
  background-color: white;
}
#language-bar #message-bar {
  position: absolute;
  left: 5vw;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  justify-content: flex-start;
  width: 88%;
  height: 1.5rem;
  border-radius: 2rem;
  margin-top: calc(0.35rem + 2px);
  padding: 0 0 0 8px;
  font-family: "Consolas", "STHeiti";
  font-size: 1rem;
  color: #6e7891;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: #6d8dff;
  box-shadow: inset calc(3px * -1) 3px calc(6px - 3px) #4c63b3, inset 3px calc(3px * -1) calc(6px - 3px) #8eb7ff;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}
@media screen and (max-width:640px) {
  #language-bar #message-bar {
    width: calc(88% - calc(1.5rem + 10px));
    margin-left: calc(calc(1.5rem + 10px));
  }
}
#language-bar #message-bar > div {
  width: calc(90vw - 8.6rem - 10px);
  line-height: 1.5rem;
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
  color: white;
}
@media screen and (max-width:640px) {
  #language-bar #message-bar > div {
    width: calc(90vw - calc(1.5rem + 10px) + 5vw - 3vw - 8.6rem - 10px);
  }
}
#language-bar #message-bar::-webkit-scrollbar {
  width: 0;
}
