body {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #d3e1f8;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Consolas", "STHeiti";
  font-size: 1rem;
  color: #6e7891;
}
#root {
  width: 100%;
  height: 100%;
}
