#navigator-bar {
  grid-area: navigator_bar;
  width: 100%;
  padding: 4px 0;
}
@media screen and (max-width:640px) {
  #navigator-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
  }
}
@media screen and (max-width:640px) {
  #navigator-bar #navigator-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    position: relative;
    z-index: 150;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: hidden;
  }
}
@media screen and (max-width:640px) {
  #navigator-bar #navigator-content #hide-navigator-button-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    height: 100vh;
    left: calc(12rem + 5rem);
    top: 0;
    border-left: 8px solid #d3e1f8;
  }
  #navigator-bar #navigator-content #hide-navigator-button-wrap #hide-navigator-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 1.5rem;
    height: 15vh;
    background-color: #d3e1f8;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    transition: background-color 0.1s, color 0.1s;
  }
  #navigator-bar #navigator-content #hide-navigator-button-wrap #hide-navigator-button > div {
    transition: background-color 0.1s, color 0.1s;
    height: 0;
    width: 0;
    border-width: 0.5rem;
    border-style: solid;
    border-color: transparent #6e7891 transparent transparent;
  }
  #navigator-bar #navigator-content #hide-navigator-button-wrap #hide-navigator-button::before {
    position: absolute;
    content: "";
    height: calc(1.5rem * 2);
    width: 1.5rem;
    top: calc(1.5rem * -1 * 2);
    z-index: -1;
    border-radius: 15px;
    box-shadow: calc(1.5rem * -1 / 2) calc(-1.5rem * -1 / 2) 0px #d3e1f8;
  }
  #navigator-bar #navigator-content #hide-navigator-button-wrap #hide-navigator-button::after {
    position: absolute;
    content: "";
    height: calc(1.5rem * 2);
    width: 1.5rem;
    bottom: calc(1.5rem * -1 * 2);
    z-index: -1;
    border-radius: 15px;
    box-shadow: calc(1.5rem * -1 / 2) calc(-1.5rem / 2) 0px #d3e1f8;
  }
  #navigator-bar #navigator-content #hide-navigator-button-wrap #hide-navigator-button:hover > div {
    border-color: transparent #6d8dff transparent transparent;
  }
}
#navigator-bar #navigator-content #navigator-search-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1px 0;
}
@media screen and (max-width:640px) {
  #navigator-bar #navigator-content #navigator-search-bar {
    width: calc(12rem + 5rem);
    z-index: 100;
    padding-top: 0.25rem;
    background-color: #d3e1f8;
  }
  #navigator-bar #navigator-content #navigator-search-bar:focus-within {
    filter: none !important;
  }
}
#navigator-bar #navigator-content #navigator-search-bar:focus-within {
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
}
#navigator-bar #navigator-content #navigator-search-bar #navigator-search-input-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
}
@media screen and (max-width:640px) {
  #navigator-bar #navigator-content #navigator-search-bar #navigator-search-input-wrap {
    width: 80%;
    margin: 0.25rem 0;
  }
}
#navigator-bar #navigator-content #navigator-search-bar #navigator-search-input-wrap input {
  width: calc(100% - 1.5rem);
  height: 1.5rem;
  margin: 0;
  padding: 0;
  font-family: "Consolas", "STHeiti";
  font-size: 1rem;
  color: #6e7891;
  border: 0;
  outline: 0;
  background-color: #f5f5f5;
  caret-color: #02b689;
}
#navigator-bar #navigator-content #navigator-search-bar #navigator-search-input-wrap input::selection {
  background-color: #02b689;
  color: white;
}
#navigator-bar #navigator-content #navigator-search-bar #navigator-search-input-wrap .search-icon {
  background-color: #f5f5f5;
}
#navigator-bar #navigator-content #navigator-search-bar #navigator-search-input-wrap .search-icon > div:nth-child(1) {
  border-color: #c0c0c0;
  transition: border-color 0.1s;
}
#navigator-bar #navigator-content #navigator-search-bar #navigator-search-input-wrap .search-icon > div:nth-child(2) {
  background-color: #c0c0c0;
  transition: background-color 0.1s;
}
#navigator-bar #navigator-content #navigator-search-bar #navigator-search-input-wrap .search-icon:hover > div:nth-child(1) {
  border-color: #a4a4a4;
}
#navigator-bar #navigator-content #navigator-search-bar #navigator-search-input-wrap .search-icon:hover > div:nth-child(2) {
  background-color: #a4a4a4;
}
#navigator-bar #navigator-content #navigator-search-bar #navigator-search-input-wrap .search-icon:active > div:nth-child(1) {
  border-color: #878585;
}
#navigator-bar #navigator-content #navigator-search-bar #navigator-search-input-wrap .search-icon:active > div:nth-child(2) {
  background-color: #878585;
}
#navigator-bar #navigator-content #navigator-search-bar #navigator-search-input-wrap #search-button {
  cursor: pointer;
}
#navigator-bar #navigator-content #navigator-search-bar .navigator-search-bar-end {
  width: 25%;
  height: 1.5rem;
  background-color: #f5f5f5;
}
#navigator-bar #navigator-content #navigator-search-bar .navigator-search-bar-end#navigator-search-bar-left {
  border-radius: 1.5rem 0 0 1.5rem;
}
#navigator-bar #navigator-content #navigator-search-bar .navigator-search-bar-end#navigator-search-bar-right {
  border-radius: 0 1.5rem 1.5rem 0;
}
@media screen and (max-width:640px) {
  #navigator-bar #navigator-content #navigator-search-bar .navigator-search-bar-end {
    width: 5%;
  }
}
#navigator-bar #navigator-content #navigator-system-list-wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4px 0 0 0;
}
@media screen and (max-width:640px) {
  #navigator-bar #navigator-content #navigator-system-list-wrap {
    padding: 0;
    width: calc(12rem + 5rem);
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    background-color: #d3e1f8;
    overflow-y: hidden;
  }
}
#navigator-bar #navigator-content #navigator-system-list-wrap #navigator-system-list {
  position: relative;
  width: calc(90% - 3rem - 0.25rem * 2 - 4px);
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
@media screen and (max-width:640px) {
  #navigator-bar #navigator-content #navigator-system-list-wrap #navigator-system-list {
    flex-direction: column;
    width: 100%;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
#navigator-bar #navigator-content #navigator-system-list-wrap #navigator-system-list::-webkit-scrollbar {
  height: 0.75rem;
}
#navigator-bar #navigator-content #navigator-system-list-wrap #navigator-system-list::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 0.75rem;
  background: #d3e1f8;
  box-shadow: inset -2px 2px 4px #bcc8dd, inset 2px -2px 4px #eafaff;
}
#navigator-bar #navigator-content #navigator-system-list-wrap #navigator-system-list::-webkit-scrollbar-thumb {
  background-color: #8894b3;
  border-radius: 0.75rem;
}
#navigator-bar #navigator-content #navigator-system-list-wrap #navigator-system-list::-webkit-scrollbar-thumb:hover {
  background-color: #6e7891;
}
#navigator-bar #navigator-content #navigator-system-list-wrap .system-card {
  display: block;
  flex-shrink: 0;
  min-width: calc(3rem - 0.5rem * 2);
  max-width: 12rem;
  height: 3rem;
  margin: 0.25rem calc(0.25rem * 1.5) calc(0.25rem * 2) calc(0.25rem * 1.5);
  padding: 0 0.5rem;
  font-family: "Consolas", "STHeiti";
  font-size: 1rem;
  color: #6e7891;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  line-height: 3rem;
  text-align: center;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  background-color: #d3e1f8;
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  box-shadow: calc(-1 * 2px) 2px 4px #bcc8dd, 2px calc(-1 * 2px) 4px #eafaff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  transition: background-color 0.1s, color 0.1s;
  cursor: pointer;
}
#navigator-bar #navigator-content #navigator-system-list-wrap .system-card:hover,
#navigator-bar #navigator-content #navigator-system-list-wrap .system-card.system-card-active {
  background-color: rgba(255, 123, 169, 0.65);
  color: white;
}
#navigator-bar #navigator-content #navigator-system-list-wrap .system-card:active {
  background-color: rgba(255, 123, 169, 0.9);
  color: white;
}
@media screen and (max-width:640px) {
  #navigator-bar #navigator-content #navigator-system-list-wrap .system-card {
    width: 12rem;
  }
}
#navigator-bar #navigator-content #navigator-system-list-wrap #system-add-card-wrap {
  position: relative;
  overflow-x: scroll;
}
@media screen and (max-width:640px) {
  #navigator-bar #navigator-content #navigator-system-list-wrap #system-add-card-wrap {
    height: calc(3rem + 0.25rem * 3 + 0.5rem);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
#navigator-bar #navigator-content #navigator-system-list-wrap #system-add-card-wrap::-webkit-scrollbar {
  height: 0.75rem;
  visibility: hidden;
}
#navigator-bar #navigator-content #navigator-system-list-wrap #system-add-card-wrap #system-add-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  background-color: rgba(255, 123, 169, 0.5);
}
@media screen and (max-width:640px) {
  #navigator-bar #navigator-content #navigator-system-list-wrap #system-add-card-wrap #system-add-card {
    margin-left: 0;
    height: 3rem;
    width: 3rem;
    margin: 0;
    padding: 0;
    border-radius: 50%;
  }
}
#navigator-bar #navigator-content #navigator-system-list-wrap #system-add-card-wrap #system-add-card:hover {
  background-color: rgba(255, 123, 169, 0.65);
}
#navigator-bar #navigator-content #navigator-system-list-wrap #system-add-card-wrap #system-add-card:active {
  background-color: rgba(255, 123, 169, 0.9);
}
#navigator-bar #navigator-content #navigator-system-list-wrap #system-add-card-wrap #system-add-card .plus-icon > div {
  background-color: white;
  transition: background-color 0.1s;
}
