.system-list-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}
.system-list-wrap::-webkit-scrollbar {
  width: 0.75rem;
}
.system-list-wrap::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 0.75rem;
  background: #d3e1f8;
  box-shadow: inset -2px 2px 4px #bcc8dd, inset 2px -2px 4px #eafaff;
}
.system-list-wrap::-webkit-scrollbar-thumb {
  background-color: #8894b3;
  border-radius: 0.75rem;
}
.system-list-wrap::-webkit-scrollbar-thumb:hover {
  background-color: #6e7891;
}
.system-list-wrap .system-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0.25rem 0;
  transition: background-color 0.1s, color 0.1s;
}
.system-list-wrap .system-wrap:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
.system-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  justify-content: flex-start;
  width: 90%;
  font-family: "Consolas", "STHeiti";
  font-size: 1rem;
  color: #6e7891;
}
@media screen and (max-width:640px) {
}
.system-header .system-name {
  max-width: 5rem;
}
@media screen and (max-width:640px) {
  .system-header .system-name {
    max-width: 4rem;
  }
}
.system-header .system-name:hover > input.copy-field {
  color: white;
  box-shadow: none;
  background-color: #02b689;
  outline: 0;
}
.system-header .system-name:active > input.copy-field {
  color: white;
  box-shadow: none;
  background-color: #019267;
  outline: 0;
}
.system-header .system-url {
  max-width: 12rem;
}
@media screen and (max-width:640px) {
  .system-header .system-url {
    max-width: 6rem;
  }
}
.system-header .system-url:hover > input.copy-field {
  color: white;
  box-shadow: none;
  background-color: rgba(255, 123, 169, 0.65);
  outline: 0;
}
.system-header .system-url:active > input.copy-field {
  color: white;
  box-shadow: none;
  background-color: rgba(255, 123, 169, 0.9);
  outline: 0;
}
.system-header .system-name,
.system-header .system-url {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 100%;
  margin-right: calc(0.4rem * 2 + 0.5rem);
}
.system-header .system-name > input.copy-field,
.system-header .system-url > input.copy-field {
  position: relative;
  padding: 0.1rem 0.4rem;
  border-radius: 2rem;
  background-color: #d3e1f8;
  box-shadow: inset -2px 2px 3px #bcc8dd, inset 2px -2px 3px #eafaff;
  transition: background-color 0.1s, color 0.1s;
}
.system-header .system-delete-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(1.5rem);
  margin: 5px 0;
}
.system-header .system-delete-wrap .system-delete-button {
  padding: 0.1rem 0.75rem;
  border-radius: 2rem;
  background-color: #d3e1f8;
  box-shadow: -2px 2px 3px #bcc8dd, 2px -2px 3px #eafaff;
  transition: background-color 0.1s, color 0.1s;
}
.system-header .system-delete-wrap .system-delete-button:hover {
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
}
.system-header .system-delete-wrap .system-delete-button:active {
  background-color: rgba(178, 39, 39, 0.75);
  color: white;
}
.system-header .system-delete-wrap .system-delete-check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.system-header .system-delete-wrap .system-delete-check .system-delete-cancel-button,
.system-header .system-delete-wrap .system-delete-check .system-delete-confirm-button {
  padding: 0.1rem 0.75rem;
  margin: 0 0.5rem 0 0;
  border-radius: 2rem;
  background-color: #d3e1f8;
  box-shadow: -2px 2px 3px #bcc8dd, 2px -2px 3px #eafaff;
  transition: background-color 0.1s, color 0.1s;
}
.system-header .system-delete-wrap .system-delete-check .system-delete-cancel-button:hover {
  background-color: rgba(109, 141, 255, 0.75);
  color: white;
}
.system-header .system-delete-wrap .system-delete-check .system-delete-cancel-button:active {
  background-color: #6d8dff;
  color: white;
}
.system-header .system-delete-wrap .system-delete-check .system-delete-confirm-button:hover {
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
}
.system-header .system-delete-wrap .system-delete-check .system-delete-confirm-button:active {
  background-color: rgba(178, 39, 39, 0.75);
  color: white;
}
.account-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.account-list .account-card {
  position: relative;
  min-width: 15rem;
  height: 19rem;
  flex-shrink: 0;
  border-radius: 15px;
  background: #d3e1f8;
  box-shadow: -5px 5px 10px #bcc8dd, 5px -5px 10px #eafaff;
  overflow: hidden;
}
@media screen and (min-width:1008px) {
  .account-list .account-card {
    width: 20vw;
    margin: 10px 1vw 3vh 1vw;
  }
}
@media screen and (min-width:641px) and (max-width:1007px) {
  .account-list .account-card {
    width: 40vw;
    margin: 10px 2vw 2vh 2vw;
  }
}
@media screen and (max-width:640px) {
  .account-list .account-card {
    width: 90%;
    height: 18rem;
    margin: 10px 0 calc(10px + 5px) 0;
    padding: 0;
  }
  .account-list .account-card .account-name {
    margin-top: 1rem;
  }
  .account-list .account-card .account-field {
    justify-content: flex-start;
  }
  .account-list .account-card .account-field .account-field-key {
    width: 20%;
    margin-left: 10%;
    margin-right: 1rem;
  }
  .account-list .account-card .account-field > .account-field-value {
    width: 48%;
  }
  .account-list .account-card .account-field .account-secret-field-wrap {
    width: calc(48% + 0.5rem * 2);
  }
}
.account-list .account-card .account-detail-button {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2rem;
  padding-top: 15px;
  background-color: rgba(109, 141, 255, 0.75);
  color: white;
  transition: background-color 0.1s, color 0.1s;
}
.account-list .account-card .account-detail-button:hover {
  background-color: rgba(109, 141, 255, 0.85);
}
.account-list .account-card .account-detail-button:active {
  background-color: #6d8dff;
}
.account-list .account-card .account-detail-button > div:nth-child(1) {
  display: flex;
  justify-content: flex-end;
  max-width: 70%;
  margin-right: 0.5rem;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}
.account-list .account-card .account-detail-button > detial-icon {
  width: 20%;
}
.account-list .account-card .account-detail-button::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  z-index: 50;
  width: 100%;
  height: 15px;
  background-color: #d3e1f8;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 3px 3px rgba(76, 99, 179, 0.75);
}
@media screen and (max-width:640px) {
}
.account-list #plus-account-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.1s, color 0.1s;
}
.account-list #plus-account-card .plus_icon > div {
  transition: background-color 0.1s, color 0.1s;
  background-color: #6e7891;
}
.account-list #plus-account-card:hover {
  background-color: rgba(109, 141, 255, 0.75);
}
.account-list #plus-account-card:hover .plus_icon > div {
  background-color: white;
}
.account-list #plus-account-card:active {
  background-color: #6d8dff;
}
.account-list #plus-account-card:active .plus_icon > div {
  background-color: white;
}
@media screen and (max-width:640px) {
  .account-list #plus-account-card {
    min-width: 10rem !important;
    width: 10rem;
    height: 10rem;
    padding: 0;
    border-radius: 50%;
  }
}
