body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Consolas", "STHeiti";
  font-size: 1rem;
  color: #6e7891;
  overflow-y: hidden;
  background-color: #d3e1f8;
}
@media screen and (max-width:640px) {
}
#language-bar {
  grid-area: language_bar;
  display: flex;
  position: relative;
  justify-content: flex-end;
  width: 100%;
  min-height: 2rem;
  padding: 4px 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#language-bar .custom-select {
  right: 5vw;
}
@media screen and (max-width:640px) {
  #language-bar .custom-select {
    right: 3vw;
  }
}
#language-bar #show-navigator-bar-button {
  display: none;
  position: absolute;
  z-index: 80;
  left: 3vw;
  box-shadow: -2px 2px 3px #bcc8dd, 2px -2px 3px #eafaff;
  border-radius: 4px;
}
@media screen and (max-width:640px) {
  #language-bar #show-navigator-bar-button {
    display: block;
  }
}
#language-bar #show-navigator-bar-button .list-icon {
  padding: 4px;
  background-color: #d3e1f8;
  border-radius: 4px;
}
#language-bar #show-navigator-bar-button .list-icon > div {
  transition: background-color 0.1s, color 0.1s;
  background-color: #6e7891;
}
#language-bar #show-navigator-bar-button:hover .list-icon {
  background-color: rgba(109, 141, 255, 0.75);
}
#language-bar #show-navigator-bar-button:hover .list-icon div {
  background-color: white;
}
#language-bar #show-navigator-bar-button:active .list-icon {
  background-color: #6d8dff;
}
#language-bar #show-navigator-bar-button:active .list-icon div {
  background-color: white;
}
#language-bar #message-bar {
  position: absolute;
  left: 5vw;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  justify-content: flex-start;
  width: 88%;
  height: 1.5rem;
  border-radius: 2rem;
  margin-top: calc(0.35rem + 2px);
  padding: 0 0 0 8px;
  font-family: "Consolas", "STHeiti";
  font-size: 1rem;
  color: #6e7891;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: #6d8dff;
  box-shadow: inset calc(3px * -1) 3px calc(6px - 3px) #4c63b3, inset 3px calc(3px * -1) calc(6px - 3px) #8eb7ff;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}
@media screen and (max-width:640px) {
  #language-bar #message-bar {
    width: calc(88% - calc(1.5rem + 10px));
    margin-left: calc(calc(1.5rem + 10px));
  }
}
#language-bar #message-bar > div {
  width: calc(90vw - 8.6rem - 10px);
  line-height: 1.5rem;
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
  color: white;
}
@media screen and (max-width:640px) {
  #language-bar #message-bar > div {
    width: calc(90vw - calc(1.5rem + 10px) + 5vw - 3vw - 8.6rem - 10px);
  }
}
#language-bar #message-bar::-webkit-scrollbar {
  width: 0;
}
#navigator-bar {
  grid-area: navigator_bar;
  width: 100%;
  padding: 4px 0;
}
@media screen and (max-width:640px) {
  #navigator-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
  }
}
@media screen and (max-width:640px) {
  #navigator-bar #navigator-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    position: relative;
    z-index: 150;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: hidden;
  }
}
@media screen and (max-width:640px) {
  #navigator-bar #navigator-content #hide-navigator-button-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    height: 100vh;
    left: calc(12rem + 5rem);
    top: 0;
    border-left: 8px solid #d3e1f8;
  }
  #navigator-bar #navigator-content #hide-navigator-button-wrap #hide-navigator-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 1.5rem;
    height: 15vh;
    background-color: #d3e1f8;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    transition: background-color 0.1s, color 0.1s;
  }
  #navigator-bar #navigator-content #hide-navigator-button-wrap #hide-navigator-button > div {
    transition: background-color 0.1s, color 0.1s;
    height: 0;
    width: 0;
    border-width: 0.5rem;
    border-style: solid;
    border-color: transparent #6e7891 transparent transparent;
  }
  #navigator-bar #navigator-content #hide-navigator-button-wrap #hide-navigator-button::before {
    position: absolute;
    content: "";
    height: calc(1.5rem * 2);
    width: 1.5rem;
    top: calc(1.5rem * -1 * 2);
    z-index: -1;
    border-radius: 15px;
    box-shadow: calc(1.5rem * -1 / 2) calc(-1.5rem * -1 / 2) 0px #d3e1f8;
  }
  #navigator-bar #navigator-content #hide-navigator-button-wrap #hide-navigator-button::after {
    position: absolute;
    content: "";
    height: calc(1.5rem * 2);
    width: 1.5rem;
    bottom: calc(1.5rem * -1 * 2);
    z-index: -1;
    border-radius: 15px;
    box-shadow: calc(1.5rem * -1 / 2) calc(-1.5rem / 2) 0px #d3e1f8;
  }
  #navigator-bar #navigator-content #hide-navigator-button-wrap #hide-navigator-button:hover > div {
    border-color: transparent #6d8dff transparent transparent;
  }
}
#navigator-bar #navigator-content #navigator-search-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1px 0;
}
@media screen and (max-width:640px) {
  #navigator-bar #navigator-content #navigator-search-bar {
    width: calc(12rem + 5rem);
    z-index: 100;
    padding-top: 0.25rem;
    background-color: #d3e1f8;
  }
  #navigator-bar #navigator-content #navigator-search-bar:focus-within {
    filter: none !important;
  }
}
#navigator-bar #navigator-content #navigator-search-bar:focus-within {
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
}
#navigator-bar #navigator-content #navigator-search-bar #navigator-search-input-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
}
@media screen and (max-width:640px) {
  #navigator-bar #navigator-content #navigator-search-bar #navigator-search-input-wrap {
    width: 80%;
    margin: 0.25rem 0;
  }
}
#navigator-bar #navigator-content #navigator-search-bar #navigator-search-input-wrap input {
  width: calc(100% - 1.5rem);
  height: 1.5rem;
  margin: 0;
  padding: 0;
  font-family: "Consolas", "STHeiti";
  font-size: 1rem;
  color: #6e7891;
  border: 0;
  outline: 0;
  background-color: #f5f5f5;
  caret-color: #02b689;
}
#navigator-bar #navigator-content #navigator-search-bar #navigator-search-input-wrap input::selection {
  background-color: #02b689;
  color: white;
}
#navigator-bar #navigator-content #navigator-search-bar #navigator-search-input-wrap .search-icon {
  background-color: #f5f5f5;
}
#navigator-bar #navigator-content #navigator-search-bar #navigator-search-input-wrap .search-icon > div:nth-child(1) {
  border-color: #c0c0c0;
  transition: border-color 0.1s;
}
#navigator-bar #navigator-content #navigator-search-bar #navigator-search-input-wrap .search-icon > div:nth-child(2) {
  background-color: #c0c0c0;
  transition: background-color 0.1s;
}
#navigator-bar #navigator-content #navigator-search-bar #navigator-search-input-wrap .search-icon:hover > div:nth-child(1) {
  border-color: #a4a4a4;
}
#navigator-bar #navigator-content #navigator-search-bar #navigator-search-input-wrap .search-icon:hover > div:nth-child(2) {
  background-color: #a4a4a4;
}
#navigator-bar #navigator-content #navigator-search-bar #navigator-search-input-wrap .search-icon:active > div:nth-child(1) {
  border-color: #878585;
}
#navigator-bar #navigator-content #navigator-search-bar #navigator-search-input-wrap .search-icon:active > div:nth-child(2) {
  background-color: #878585;
}
#navigator-bar #navigator-content #navigator-search-bar #navigator-search-input-wrap #search-button {
  cursor: pointer;
}
#navigator-bar #navigator-content #navigator-search-bar .navigator-search-bar-end {
  width: 25%;
  height: 1.5rem;
  background-color: #f5f5f5;
}
#navigator-bar #navigator-content #navigator-search-bar .navigator-search-bar-end#navigator-search-bar-left {
  border-radius: 1.5rem 0 0 1.5rem;
}
#navigator-bar #navigator-content #navigator-search-bar .navigator-search-bar-end#navigator-search-bar-right {
  border-radius: 0 1.5rem 1.5rem 0;
}
@media screen and (max-width:640px) {
  #navigator-bar #navigator-content #navigator-search-bar .navigator-search-bar-end {
    width: 5%;
  }
}
#navigator-bar #navigator-content #navigator-system-list-wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4px 0 0 0;
}
@media screen and (max-width:640px) {
  #navigator-bar #navigator-content #navigator-system-list-wrap {
    padding: 0;
    width: calc(12rem + 5rem);
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
    background-color: #d3e1f8;
    overflow-y: hidden;
  }
}
#navigator-bar #navigator-content #navigator-system-list-wrap #navigator-system-list {
  position: relative;
  width: calc(90% - 3rem - 0.25rem * 2 - 4px);
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
@media screen and (max-width:640px) {
  #navigator-bar #navigator-content #navigator-system-list-wrap #navigator-system-list {
    flex-direction: column;
    width: 100%;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
#navigator-bar #navigator-content #navigator-system-list-wrap #navigator-system-list::-webkit-scrollbar {
  height: 0.75rem;
}
#navigator-bar #navigator-content #navigator-system-list-wrap #navigator-system-list::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 0.75rem;
  background: #d3e1f8;
  box-shadow: inset -2px 2px 4px #bcc8dd, inset 2px -2px 4px #eafaff;
}
#navigator-bar #navigator-content #navigator-system-list-wrap #navigator-system-list::-webkit-scrollbar-thumb {
  background-color: #8894b3;
  border-radius: 0.75rem;
}
#navigator-bar #navigator-content #navigator-system-list-wrap #navigator-system-list::-webkit-scrollbar-thumb:hover {
  background-color: #6e7891;
}
#navigator-bar #navigator-content #navigator-system-list-wrap .system-card {
  display: block;
  flex-shrink: 0;
  min-width: calc(3rem - 0.5rem * 2);
  max-width: 12rem;
  height: 3rem;
  margin: 0.25rem calc(0.25rem * 1.5) calc(0.25rem * 2) calc(0.25rem * 1.5);
  padding: 0 0.5rem;
  font-family: "Consolas", "STHeiti";
  font-size: 1rem;
  color: #6e7891;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  line-height: 3rem;
  text-align: center;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  background-color: #d3e1f8;
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  box-shadow: calc(-1 * 2px) 2px 4px #bcc8dd, 2px calc(-1 * 2px) 4px #eafaff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  transition: background-color 0.1s, color 0.1s;
  cursor: pointer;
}
#navigator-bar #navigator-content #navigator-system-list-wrap .system-card:hover,
#navigator-bar #navigator-content #navigator-system-list-wrap .system-card.system-card-active {
  background-color: rgba(255, 123, 169, 0.65);
  color: white;
}
#navigator-bar #navigator-content #navigator-system-list-wrap .system-card:active {
  background-color: rgba(255, 123, 169, 0.9);
  color: white;
}
@media screen and (max-width:640px) {
  #navigator-bar #navigator-content #navigator-system-list-wrap .system-card {
    width: 12rem;
  }
}
#navigator-bar #navigator-content #navigator-system-list-wrap #system-add-card-wrap {
  position: relative;
  overflow-x: scroll;
}
@media screen and (max-width:640px) {
  #navigator-bar #navigator-content #navigator-system-list-wrap #system-add-card-wrap {
    height: calc(3rem + 0.25rem * 3 + 0.5rem);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
#navigator-bar #navigator-content #navigator-system-list-wrap #system-add-card-wrap::-webkit-scrollbar {
  height: 0.75rem;
  visibility: hidden;
}
#navigator-bar #navigator-content #navigator-system-list-wrap #system-add-card-wrap #system-add-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  background-color: rgba(255, 123, 169, 0.5);
}
@media screen and (max-width:640px) {
  #navigator-bar #navigator-content #navigator-system-list-wrap #system-add-card-wrap #system-add-card {
    margin-left: 0;
    height: 3rem;
    width: 3rem;
    margin: 0;
    padding: 0;
    border-radius: 50%;
  }
}
#navigator-bar #navigator-content #navigator-system-list-wrap #system-add-card-wrap #system-add-card:hover {
  background-color: rgba(255, 123, 169, 0.65);
}
#navigator-bar #navigator-content #navigator-system-list-wrap #system-add-card-wrap #system-add-card:active {
  background-color: rgba(255, 123, 169, 0.9);
}
#navigator-bar #navigator-content #navigator-system-list-wrap #system-add-card-wrap #system-add-card .plus-icon > div {
  background-color: white;
  transition: background-color 0.1s;
}
#main {
  grid-area: main;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  overflow-y: hidden;
}
#main input.copy-field,
#main input.edit-field,
#main input.secret-edit-field {
  max-width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-family: "Consolas", "STHeiti";
  font-size: 1rem;
  color: #6e7891;
  background-color: transparent;
  cursor: pointer;
  -webkit-user-drag: none;
}
#main input.copy-field::selection,
#main input.edit-field::selection,
#main input.secret-edit-field::selection {
  background-color: transparent;
}
#main .system-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  justify-content: flex-start;
  width: 90%;
  font-family: "Consolas", "STHeiti";
  font-size: 1rem;
  color: #6e7891;
}
@media screen and (max-width:640px) {
}
#main .system-header .system-name {
  max-width: 5rem;
}
@media screen and (max-width:640px) {
  #main .system-header .system-name {
    max-width: 4rem;
  }
}
#main .system-header .system-name:hover > input.copy-field {
  color: white;
  box-shadow: none;
  background-color: #02b689;
  outline: 0;
}
#main .system-header .system-name:active > input.copy-field {
  color: white;
  box-shadow: none;
  background-color: #019267;
  outline: 0;
}
#main .system-header .system-url {
  max-width: 12rem;
}
@media screen and (max-width:640px) {
  #main .system-header .system-url {
    max-width: 6rem;
  }
}
#main .system-header .system-url:hover > input.copy-field {
  color: white;
  box-shadow: none;
  background-color: rgba(255, 123, 169, 0.65);
  outline: 0;
}
#main .system-header .system-url:active > input.copy-field {
  color: white;
  box-shadow: none;
  background-color: rgba(255, 123, 169, 0.9);
  outline: 0;
}
#main .system-header .system-name,
#main .system-header .system-url {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 100%;
  margin-right: calc(0.4rem * 2 + 0.5rem);
}
#main .system-header .system-name > input.copy-field,
#main .system-header .system-url > input.copy-field {
  position: relative;
  padding: 0.1rem 0.4rem;
  border-radius: 2rem;
  background-color: #d3e1f8;
  box-shadow: inset -2px 2px 3px #bcc8dd, inset 2px -2px 3px #eafaff;
  transition: background-color 0.1s, color 0.1s;
}
#main .system-header .system-delete-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(1.5rem);
  margin: 5px 0;
}
#main .system-header .system-delete-wrap .system-delete-button {
  padding: 0.1rem 0.75rem;
  border-radius: 2rem;
  background-color: #d3e1f8;
  box-shadow: -2px 2px 3px #bcc8dd, 2px -2px 3px #eafaff;
  transition: background-color 0.1s, color 0.1s;
}
#main .system-header .system-delete-wrap .system-delete-button:hover {
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
}
#main .system-header .system-delete-wrap .system-delete-button:active {
  background-color: rgba(178, 39, 39, 0.75);
  color: white;
}
#main .system-header .system-delete-wrap .system-delete-check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#main .system-header .system-delete-wrap .system-delete-check .system-delete-cancel-button,
#main .system-header .system-delete-wrap .system-delete-check .system-delete-confirm-button {
  padding: 0.1rem 0.75rem;
  margin: 0 0.5rem 0 0;
  border-radius: 2rem;
  background-color: #d3e1f8;
  box-shadow: -2px 2px 3px #bcc8dd, 2px -2px 3px #eafaff;
  transition: background-color 0.1s, color 0.1s;
}
#main .system-header .system-delete-wrap .system-delete-check .system-delete-cancel-button:hover {
  background-color: rgba(109, 141, 255, 0.75);
  color: white;
}
#main .system-header .system-delete-wrap .system-delete-check .system-delete-cancel-button:active {
  background-color: #6d8dff;
  color: white;
}
#main .system-header .system-delete-wrap .system-delete-check .system-delete-confirm-button:hover {
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
}
#main .system-header .system-delete-wrap .system-delete-check .system-delete-confirm-button:active {
  background-color: rgba(178, 39, 39, 0.75);
  color: white;
}
#main .account-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1.5rem 0 0.75rem 0;
}
#main .account-name input.copy-field {
  width: 42%;
  padding: 2px 0.25rem;
  text-align: center;
  border-radius: 2rem;
  transition: background-color 0.1s, color 0.1s;
  font-weight: bold;
}
#main .account-name input.copy-field:hover {
  color: #02b689;
  outline: 1px solid #02b689;
}
#main .account-name input.copy-field:active {
  background-color: #02b689;
  color: white;
}
#main .account-field {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0.75rem 0;
}
#main .account-field .account-field-key {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  width: 28%;
  margin-right: 0.5rem;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  color: rgba(110, 120, 145, 0.8);
}
#main .account-field .account-field-key > div {
  max-width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
#main .account-field .account-field-key > div::-webkit-scrollbar {
  height: 5px;
}
#main .account-field .account-field-key > div::-webkit-scrollbar-track {
  border-radius: 0.75rem;
  background-color: transparent;
}
#main .account-field .account-field-key > div::-webkit-scrollbar-thumb {
  background-color: #FF7BA9;
  border-radius: 0.75rem;
}
#main .account-field .account-field-key > div::-webkit-scrollbar-thumb:hover {
  background-color: #ef6897;
}
#main .account-field .account-field-empty {
  visibility: hidden;
}
#main .account-field .account-field-value,
#main .account-field .account-field-empty {
  height: 1rem;
  display: flex;
  justify-content: flex-start;
  width: 52%;
  padding: 0.25rem 0.5rem;
  border-radius: 2rem;
  background: #d3e1f8;
  box-shadow: inset -3px 3px 3px #bcc8dd, inset 3px -3px 3px #eafaff;
}
#main .account-field .account-field-value.edit-field,
#main .account-field .account-field-empty.edit-field {
  caret-color: #6d8dff;
}
#main .account-field .account-field-value.edit-field::selection,
#main .account-field .account-field-empty.edit-field::selection {
  background-color: #6d8dff;
  color: white;
}
#main .account-field .account-field-value.copy-field,
#main .account-field .account-field-empty.copy-field {
  transition: background-color 0.1s, color 0.1s;
}
#main .account-field .account-field-value.copy-field:hover,
#main .account-field .account-field-empty.copy-field:hover {
  box-shadow: inset -3px 3px 3px #d49eb3, inset 3px -3px 3px #ffdefd;
  background-color: #ffbed8;
}
#main .account-field .account-field-value.copy-field:active,
#main .account-field .account-field-empty.copy-field:active {
  box-shadow: inset -3px 3px 3px #bd5b7d, inset 3px -3px 3px #ff9bd5;
  background-color: #ff7ba9;
  color: rgba(255, 255, 255, 0.8);
}
#main .account-field .account-secret-field-wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: calc(52% + 0.5rem * 2);
}
#main .account-field .account-secret-field-wrap .secret-edit-field {
  position: relative;
  width: calc(100% - 0.5rem * 2);
  caret-color: #02b689;
}
#main .account-field .account-secret-field-wrap .secret-edit-field::selection {
  background-color: #02b689;
  color: white;
}
#main .account-field .account-secret-field-wrap .secret-edit-field[type="password"]::selection {
  background-color: transparent;
  color: #6e7891;
}
#main .account-field .account-secret-field-wrap .account-secret-field-value {
  position: relative;
  width: calc(100% - 0.5rem * 2);
  border-radius: 2rem;
  overflow: hidden;
}
#main .account-field .account-secret-field-wrap .account-secret-field-value > div:nth-child(1) {
  position: absolute;
  z-index: 60;
  height: 100%;
  width: 100%;
  background-color: #8894b3;
  border-radius: 3rem;
  transition: width 0.4s;
}
#main .account-field .account-secret-field-wrap .account-secret-field-value > div:nth-child(1).cover-hide {
  width: 0%;
}
#main .account-field .account-secret-field-wrap .account-secret-field-value .account-field-value {
  width: 100%;
}
#main .account-field .account-secret-field-wrap .eye-icon-wrap {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.1s;
}
#main .account-field .account-secret-field-wrap .eye-icon-wrap:hover {
  opacity: 0.9;
}
#main .account-field .account-secret-field-wrap .eye-icon-wrap:active {
  opacity: 1;
}
#main .system-list-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}
#main .system-list-wrap::-webkit-scrollbar {
  width: 0.75rem;
}
#main .system-list-wrap::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 0.75rem;
  background: #d3e1f8;
  box-shadow: inset -2px 2px 4px #bcc8dd, inset 2px -2px 4px #eafaff;
}
#main .system-list-wrap::-webkit-scrollbar-thumb {
  background-color: #8894b3;
  border-radius: 0.75rem;
}
#main .system-list-wrap::-webkit-scrollbar-thumb:hover {
  background-color: #6e7891;
}
#main .system-list-wrap .system-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0.25rem 0;
  transition: background-color 0.1s, color 0.1s;
}
#main .system-list-wrap .system-wrap:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
#main .account-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
#main .account-list .account-card {
  position: relative;
  min-width: 15rem;
  height: 19rem;
  flex-shrink: 0;
  border-radius: 15px;
  background: #d3e1f8;
  box-shadow: -5px 5px 10px #bcc8dd, 5px -5px 10px #eafaff;
  overflow: hidden;
}
@media screen and (min-width:1008px) {
  #main .account-list .account-card {
    width: 20vw;
    margin: 10px 1vw 3vh 1vw;
  }
}
@media screen and (min-width:641px) and (max-width:1007px) {
  #main .account-list .account-card {
    width: 40vw;
    margin: 10px 2vw 2vh 2vw;
  }
}
@media screen and (max-width:640px) {
  #main .account-list .account-card {
    width: 90%;
    height: 18rem;
    margin: 10px 0 calc(10px + 5px) 0;
    padding: 0;
  }
  #main .account-list .account-card .account-name {
    margin-top: 1rem;
  }
  #main .account-list .account-card .account-field {
    justify-content: flex-start;
  }
  #main .account-list .account-card .account-field .account-field-key {
    width: 20%;
    margin-left: 10%;
    margin-right: 1rem;
  }
  #main .account-list .account-card .account-field > .account-field-value {
    width: 48%;
  }
  #main .account-list .account-card .account-field .account-secret-field-wrap {
    width: calc(48% + 0.5rem * 2);
  }
}
#main .account-list .account-card .account-detail-button {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2rem;
  padding-top: 15px;
  background-color: rgba(109, 141, 255, 0.75);
  color: white;
  transition: background-color 0.1s, color 0.1s;
}
#main .account-list .account-card .account-detail-button:hover {
  background-color: rgba(109, 141, 255, 0.85);
}
#main .account-list .account-card .account-detail-button:active {
  background-color: #6d8dff;
}
#main .account-list .account-card .account-detail-button > div:nth-child(1) {
  display: flex;
  justify-content: flex-end;
  max-width: 70%;
  margin-right: 0.5rem;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}
#main .account-list .account-card .account-detail-button > detial-icon {
  width: 20%;
}
#main .account-list .account-card .account-detail-button::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  z-index: 50;
  width: 100%;
  height: 15px;
  background-color: #d3e1f8;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 3px 3px rgba(76, 99, 179, 0.75);
}
@media screen and (max-width:640px) {
}
#main .account-list #plus-account-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.1s, color 0.1s;
}
#main .account-list #plus-account-card .plus-icon > div {
  transition: background-color 0.1s, color 0.1s;
  background-color: #6e7891;
}
#main .account-list #plus-account-card:hover {
  background-color: rgba(109, 141, 255, 0.75);
}
#main .account-list #plus-account-card:hover .plus-icon > div {
  background-color: white;
}
#main .account-list #plus-account-card:active {
  background-color: #6d8dff;
}
#main .account-list #plus-account-card:active .plus-icon > div {
  background-color: white;
}
@media screen and (max-width:640px) {
  #main .account-list #plus-account-card {
    min-width: 10rem !important;
    width: 10rem;
    height: 10rem;
    padding: 0;
    border-radius: 50%;
  }
}
#main .page-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem 0 0.75rem 0;
  background-color: #d3e1f8;
  border-radius: 2rem;
}
#main .page-header .account-name,
#main .page-header #account-edit-name {
  width: 52%;
  margin: 0;
}
@media screen and (max-width:640px) {
  #main .page-header .account-name,
  #main .page-header #account-edit-name {
    width: 45%;
  }
}
@media screen and (min-width:641px) and (max-width:1007px) {
  #main .page-header .account-name,
  #main .page-header #account-edit-name {
    width: 45%;
  }
}
#main .page-header .page-button-wrap {
  width: 34%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5px;
  right: 0px;
}
#main #account-edit-cancel-button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 3rem;
  max-width: 45%;
  height: 1.5rem;
  padding: 2px 0.75rem;
  line-height: 1.5rem;
  margin-right: 0.5rem;
  border-radius: 2rem;
  background-color: #d3e1f8;
  box-shadow: -2px 2px 3px #bcc8dd, 2px -2px 3px #eafaff;
  transition: background-color 0.1s, color 0.1s;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  text-align: center;
}
#main #account-edit-cancel-button:hover {
  color: #6d8dff;
}
#main #account-edit-cancel-button:active {
  background-color: #6d8dff;
  color: white;
}
@media screen and (max-width:640px) {
  #main #account-edit-cancel-button {
    font-size: 12px;
    padding: 0.2rem 0.5rem;
  }
}
#main #account-edit-confirm-button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 3rem;
  max-width: 45%;
  height: 1.5rem;
  padding: 2px 0.75rem;
  line-height: 1.5rem;
  border-radius: 2rem;
  background-color: #d3e1f8;
  box-shadow: -2px 2px 3px #bcc8dd, 2px -2px 3px #eafaff;
  transition: background-color 0.1s, color 0.1s;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  text-align: center;
}
#main #account-edit-confirm-button:hover {
  color: #02b689;
}
#main #account-edit-confirm-button:active {
  background-color: #02b689;
  color: white;
}
@media screen and (max-width:640px) {
  #main #account-edit-confirm-button {
    font-size: 12px;
    padding: 0.2rem 0.5rem;
  }
}
#main #back-to-list-button {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  left: 0;
  min-width: 5rem;
  max-width: 32%;
  height: 1.5rem;
  margin-left: 3px;
  padding: 2px 0.5rem 2px 0;
  line-height: 1.5rem;
  border-radius: 5rem;
  background-color: #d3e1f8;
  box-shadow: -2px 2px 3px #bcc8dd, 2px -2px 3px #eafaff;
}
#main #back-to-list-button > div:nth-child(1) {
  height: 0;
  width: 0;
  border-width: 0.5rem;
  border-style: solid;
  border-color: transparent #6e7891 transparent transparent;
  margin-right: 1rem;
  transition: border-color 0.1s;
}
#main #back-to-list-button > div:nth-child(2) {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  transition: background-color 0.1s, color 0.1s;
}
#main #back-to-list-button:hover > div:nth-child(1) {
  border-color: transparent #6d8dff transparent transparent;
}
#main #back-to-list-button:hover > div:nth-child(2) {
  color: #6d8dff;
}
#main #back-to-list-button:active {
  background-color: #6d8dff;
}
#main #back-to-list-button:active > div:nth-child(1) {
  border-color: transparent white transparent transparent;
}
#main #back-to-list-button:active > div:nth-child(2) {
  color: white;
}
#main #account-edit-button {
  min-width: 5rem;
  max-width: 50%;
  height: 1.5rem;
  margin-right: 8px;
  text-align: center;
  border-radius: 5rem;
  padding: 2px 0.5rem;
  background-color: #d3e1f8;
  box-shadow: -2px 2px 3px #bcc8dd, 2px -2px 3px #eafaff;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}
@media screen and (max-width:640px) {
  #main #account-edit-button {
    min-width: 3rem;
  }
}
#main #account-edit-button:hover {
  color: #6d8dff;
}
#main #account-edit-button:active {
  background-color: #6d8dff;
  color: white;
}
#main #account-delete-button-wrap {
  position: relative;
  min-width: 6rem;
  max-width: 0%;
}
@media screen and (max-width:640px) {
  #main #account-delete-button-wrap {
    min-width: 5rem;
  }
}
#main #account-delete-button-wrap #account-delete-button {
  height: 1.5rem;
  width: calc(100% - 0.5rem);
  margin-right: 1rem;
  padding: 2px 0.25rem;
  text-align: center;
  border-radius: 5rem;
  background-color: #d3e1f8;
  box-shadow: -2px 2px 3px #bcc8dd, 2px -2px 3px #eafaff;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}
#main #account-delete-button-wrap #account-delete-button:hover {
  color: #6d8dff;
}
#main #account-delete-button-wrap #account-delete-button:active {
  background-color: #6d8dff;
  color: white;
}
#main #account-delete-button-wrap #account-delete-check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  border-radius: 1.5rem;
  background-color: #d3e1f8;
  box-shadow: -2px 2px 3px #bcc8dd, 2px -2px 3px #eafaff;
}
#main #account-delete-button-wrap #account-delete-check > div {
  width: 50%;
  min-height: 1.5rem;
  line-height: 1.5rem;
  padding: 2px 0;
  text-align: center;
  font-size: 12px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}
#main #account-delete-button-wrap #account-delete-check > div:nth-child(1) {
  border-radius: 1.5rem 0 0 1.5rem;
}
#main #account-delete-button-wrap #account-delete-check > div:nth-child(1):hover {
  color: #02b689;
}
#main #account-delete-button-wrap #account-delete-check > div:nth-child(1):active {
  background-color: #02b689;
  color: white;
}
#main #account-delete-button-wrap #account-delete-check > div:nth-child(2) {
  border-radius: 0 1.5rem 1.5rem 0;
}
#main #account-delete-button-wrap #account-delete-check > div:nth-child(2):hover {
  color: rgba(255, 0, 0, 0.7);
}
#main #account-delete-button-wrap #account-delete-check > div:nth-child(2):active {
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
}
#main .page-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}
@media screen and (max-width:640px) {
  #main .page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
  }
  #main .page-body::-webkit-scrollbar {
    width: 0.75rem;
  }
  #main .page-body::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 0.75rem;
    background: #d3e1f8;
    box-shadow: inset -2px 2px 4px #bcc8dd, inset 2px -2px 4px #eafaff;
  }
  #main .page-body::-webkit-scrollbar-thumb {
    background-color: #8894b3;
    border-radius: 0.75rem;
  }
  #main .page-body::-webkit-scrollbar-thumb:hover {
    background-color: #6e7891;
  }
}
#main .page-body .account-main-part {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 66%;
}
@media screen and (min-width:641px) and (max-width:1007px) {
  #main .page-body .account-main-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
  }
}
@media screen and (max-width:640px) {
  #main .page-body .account-main-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100%;
  }
}
#main .page-body .account-main-part .account-infomation-part {
  width: 50%;
}
@media screen and (min-width:1008px) {
  #main .page-body .account-main-part .account-infomation-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
  }
}
@media screen and (min-width:641px) and (max-width:1007px) {
  #main .page-body .account-main-part .account-infomation-part {
    width: 100%;
  }
}
@media screen and (max-width:640px) {
  #main .page-body .account-main-part .account-infomation-part {
    width: 100%;
  }
}
#main .page-body .account-main-part .account-password-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  overflow-y: hidden;
}
@media screen and (min-width:641px) and (max-width:1007px) {
  #main .page-body .account-main-part .account-password-part {
    width: 100%;
    flex-grow: 1;
  }
}
@media screen and (max-width:640px) {
  #main .page-body .account-main-part .account-password-part {
    width: 100%;
    height: fit-content;
  }
}
#main .page-body .account-main-part .account-password-part > .account-field {
  margin: 0.75rem 0;
}
#main .page-body .account-main-part .account-password-part .past-passwords {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  overflow-y: hidden;
  width: 100%;
}
@media screen and (max-width:640px) {
  #main .page-body .account-main-part .account-password-part .past-passwords {
    overflow-y: visible;
  }
}
#main .page-body .account-main-part .account-password-part .past-passwords .past-passwords-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width:640px) {
  #main .page-body .account-main-part .account-password-part .past-passwords .past-passwords-list {
    height: fit-content;
    overflow-y: visible;
  }
}
#main .page-body .account-main-part .account-password-part .past-passwords .past-passwords-list::-webkit-scrollbar {
  width: 0.75rem;
}
#main .page-body .account-main-part .account-password-part .past-passwords .past-passwords-list::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 0.75rem;
  background: #d3e1f8;
  box-shadow: inset -2px 2px 4px #bcc8dd, inset 2px -2px 4px #eafaff;
}
#main .page-body .account-main-part .account-password-part .past-passwords .past-passwords-list::-webkit-scrollbar-thumb {
  background-color: #8894b3;
  border-radius: 0.75rem;
}
#main .page-body .account-main-part .account-password-part .past-passwords .past-passwords-list::-webkit-scrollbar-thumb:hover {
  background-color: #6e7891;
}
#main .page-body .account-main-part .account-password-part .past-passwords .past-passwords-list .account-field {
  position: relative;
  margin: 0.25rem 0 0.75rem 0;
  left: 0.5rem;
}
@media screen and (max-width:640px) {
  #main .page-body .account-main-part .account-password-part .past-passwords .past-passwords-list .account-field {
    left: 0;
  }
}
@media screen and (min-width:1008px) {
  #main .page-body .account-main-part .account-password-part .past-passwords .past-passwords-list .account-field .account-secret-field-wrap {
    width: calc(52% + 0.5rem * 2 + 0.5rem);
  }
}
@media screen and (min-width:641px) and (max-width:1007px) {
  #main .page-body .account-main-part .account-password-part .past-passwords .past-passwords-list .account-field .account-secret-field-wrap {
    width: calc(52% + 0.5rem * 2 + 0.5rem);
  }
}
#main .page-body .account-protection-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 33%;
  height: 100%;
}
@media screen and (min-width:641px) and (max-width:1007px) {
  #main .page-body .account-protection-part {
    width: 45%;
  }
}
@media screen and (max-width:640px) {
  #main .page-body .account-protection-part {
    width: 100%;
    height: max-content;
  }
}
#main .page-body .account-protection-part .account-protection-header {
  width: 100%;
  margin: 0.75rem 0;
  padding: 0;
}
@media screen and (min-width:1008px) {
  #main .page-body .account-protection-part .account-protection-header .account-field-key {
    width: 100%;
    justify-content: center;
  }
}
@media screen and (min-width:641px) and (max-width:1007px) {
  #main .page-body .account-protection-part .account-protection-header .account-field-key {
    width: 100%;
    justify-content: center;
  }
}
@media screen and (min-width:1008px) {
  #main .page-body .account-protection-part .account-protection-header .account-field-empty {
    display: none;
  }
}
@media screen and (min-width:641px) and (max-width:1007px) {
  #main .page-body .account-protection-part .account-protection-header .account-field-empty {
    display: none;
  }
}
#main .page-body .account-protection-part .account-protection-list {
  max-height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width:640px) {
  #main .page-body .account-protection-part .account-protection-list {
    overflow-y: visible;
  }
}
#main .page-body .account-protection-part .account-protection-list::-webkit-scrollbar {
  width: 0.75rem;
}
#main .page-body .account-protection-part .account-protection-list::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 0.75rem;
  background: #d3e1f8;
  box-shadow: inset -2px 2px 4px #bcc8dd, inset 2px -2px 4px #eafaff;
}
#main .page-body .account-protection-part .account-protection-list::-webkit-scrollbar-thumb {
  background-color: #8894b3;
  border-radius: 0.75rem;
}
#main .page-body .account-protection-part .account-protection-list::-webkit-scrollbar-thumb:hover {
  background-color: #6e7891;
}
#main .page-body .account-protection-part .account-protection-list .protection-add-button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 5%;
}
#main .page-body .account-protection-part .account-protection-list .protection-add-button .plus-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 2rem;
  margin: 3px 0;
  background-color: #d3e1f8;
  box-shadow: -2px 2px 3px #bcc8dd, 2px -2px 3px #eafaff;
  transition: background-color 0.1s, color 0.1s;
  opacity: 0.7;
}
#main .page-body .account-protection-part .account-protection-list .protection-add-button .plus-icon > div {
  transition: background-color 0.1s, color 0.1s;
  background-color: #6e7891;
}
#main .page-body .account-protection-part .account-protection-list .protection-add-button .plus-icon:hover > div {
  background-color: #6d8dff;
}
#main .page-body .account-protection-part .account-protection-list .protection-add-button .plus-icon:active {
  background-color: #6d8dff;
}
#main .page-body .account-protection-part .account-protection-list .protection-add-button .plus-icon:active > div {
  background-color: white;
}
#main .page-body .account-protection-part .account-protection-list .account-protection-item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  width: 100%;
  margin: 0.25rem 0 0.75rem 0;
}
#main .page-body .account-protection-part .account-protection-list .account-protection-item .protection-delete-button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 16%;
  height: 100%;
  padding: 0.1rem 0.25rem;
  border-radius: 2rem;
  background-color: #d3e1f8;
  box-shadow: -2px 2px 3px #bcc8dd, 2px -2px 3px #eafaff;
  transition: background-color 0.1s, color 0.1s;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  text-align: center;
}
@media screen and (max-width:640px) {
  #main .page-body .account-protection-part .account-protection-list .account-protection-item .protection-delete-button {
    left: -6px;
  }
}
#main .page-body .account-protection-part .account-protection-list .account-protection-item .protection-delete-button:hover {
  color: rgba(255, 0, 0, 0.6);
}
#main .page-body .account-protection-part .account-protection-list .account-protection-item .protection-delete-button:active {
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
}
#main .page-body .account-protection-part .account-protection-list .account-protection-item .account-protection-number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  width: 12%;
  height: 1.2rem;
  margin-right: 0.5rem;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: "Consolas", "STHeiti";
  font-size: 1rem;
  color: #6e7891;
  color: rgba(110, 120, 145, 0.8);
}
@media screen and (max-width:640px) {
  #main .page-body .account-protection-part .account-protection-list .account-protection-item .account-protection-number {
    width: 28%;
  }
}
#main .page-body .account-protection-part .account-protection-list .account-protection-item .account-field {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
}
@media screen and (max-width:640px) {
  #main .page-body .account-protection-part .account-protection-list .account-protection-item .account-field {
    width: calc(52% + 0.5rem * 2);
  }
}
#main .page-body .account-protection-part .account-protection-list .account-protection-item .account-field .account-field-question {
  width: 100%;
  min-height: 1.2rem;
  padding: 0;
  margin-bottom: 0.5rem;
  word-wrap: break-word;
  word-break: break-all;
  line-height: 1.2rem;
}
#main .page-body .account-protection-part .account-protection-list .account-protection-item .account-field .account-field-question > div::selection {
  color: white;
  background-color: #02b689;
}
#main .page-body .account-protection-part .account-protection-list .account-protection-item .account-field .account-field-question .edit-field {
  width: 88%;
}
#main .page-body .account-protection-part .account-protection-list .account-protection-item .account-field .account-secret-field-wrap {
  width: 95%;
}
@media screen and (max-width:640px) {
  #main .page-body .account-protection-part .account-protection-list .account-protection-item .account-field .account-secret-field-wrap {
    width: 93%;
  }
}
#main #system-add-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%;
  justify-content: flex-start;
  margin-top: 1.5rem;
}
@media screen and (max-width:640px) {
  #main #system-add-page > .account-field {
    width: 100%;
  }
}
@media screen and (min-width:641px) and (max-width:1007px) {
  #main #system-add-page > .account-field {
    width: 60%;
  }
}
@media screen and (min-width:1008px) {
  #main #system-add-page > .account-field {
    width: 40%;
  }
}
#main #system-add-page > .custom-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 16rem;
  min-height: 1.25rem;
  padding: 0.25rem 1rem;
  margin: 0.75rem 0;
  border-radius: 1rem;
  background-color: #d3e1f8;
  box-shadow: -2px 2px 3px #bcc8dd, 2px -2px 3px #eafaff;
  word-wrap: break-word;
  word-break: break-all;
  transition: background-color 0.1s, color 0.1s;
}
#main #system-add-page #system-add-cancel-button:hover {
  color: #6d8dff;
}
#main #system-add-page #system-add-cancel-button:active {
  color: white;
  background-color: #6d8dff;
}
#main #system-add-page #system-add-confirm-button:hover {
  color: #02b689;
}
#main #system-add-page #system-add-confirm-button:active {
  color: white;
  background-color: #02b689;
}
#main #account-edit-page .past-passwords-list {
  position: relative;
}
#main #account-edit-page .past-passwords-list .past-password-add-button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 5%;
}
#main #account-edit-page .past-passwords-list .past-password-add-button .plus-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 2rem;
  margin: 3px 0;
  background-color: #d3e1f8;
  box-shadow: -2px 2px 3px #bcc8dd, 2px -2px 3px #eafaff;
  transition: background-color 0.1s, color 0.1s;
  opacity: 0.7;
}
#main #account-edit-page .past-passwords-list .past-password-add-button .plus-icon > div {
  transition: background-color 0.1s, color 0.1s;
  background-color: #6e7891;
}
#main #account-edit-page .past-passwords-list .past-password-add-button .plus-icon:hover > div {
  background-color: #6d8dff;
}
#main #account-edit-page .past-passwords-list .past-password-add-button .plus-icon:active {
  background-color: #6d8dff;
}
#main #account-edit-page .past-passwords-list .past-password-add-button .plus-icon:active > div {
  background-color: white;
}
#main #account-edit-page .past-passwords-list .account-field {
  position: relative;
  justify-content: flex-end;
  left: -0.5rem;
}
#main #account-edit-page .past-passwords-list .account-field .account-field-key {
  width: 15%;
}
#main #account-edit-page .past-passwords-list .account-field .account-secret-edit-field-wrap {
  width: 50%;
}
#main #account-edit-page .past-passwords-list .account-field .password-delete-button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 16%;
  height: 100%;
  padding: 0rem 0.25rem;
  margin-left: 8px;
  border-radius: 2rem;
  background-color: #d3e1f8;
  box-shadow: -2px 2px 3px #bcc8dd, 2px -2px 3px #eafaff;
  transition: background-color 0.1s, color 0.1s;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  text-align: center;
}
#main #account-edit-page .past-passwords-list .account-field .password-delete-button:hover {
  color: rgba(255, 0, 0, 0.6);
}
#main #account-edit-page .past-passwords-list .account-field .password-delete-button:active {
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
}
@media screen and (max-width:640px) {
  #main #account-edit-page .past-passwords-list .account-field .password-delete-button {
    width: 15%;
  }
}
#main #account-detail-page,
#main #account-edit-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 80;
  width: 90%;
  height: 100%;
  margin-top: 0.5rem;
  background-color: #d3e1f8;
  overflow-x: hidden;
  overflow-y: hidden;
}
#main #account-detail-page .system-wrap,
#main #account-edit-page .system-wrap {
  position: relative;
  top: 2px;
  z-index: 99;
  width: 100%;
  justify-content: flex-start;
}
#footer {
  grid-area: footer;
  width: 100%;
  height: 1rem;
}
